body {
    background-color: #293134;
    color: #e0e2ae;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0 !important;

}

h1 {
    text-align: center;
}

#content {
    width: 100%;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10%;
    align-content: center;
}

.phases {
    float: left;
    padding-right: 5%;
    min-width: 10%;
    height: 100%;
    line-height:150%;
}

#matches {
    width: 100%;
}
#backToList{
    margin-left: 45%;
}

.button {
    color: #293134;
    border: none;
    border-radius: 7px;
    display: block;
    height: 50px;
    width: 10%;
    background-color: #d0d19d;
}

.button:hover {
    background-color: #e0e2ae;
}

.button:active {
    background-color: #293134;
}

.linkOfButton:link {
    text-decoration: none;
}

.linkOfButton:visited {
    text-decoration: none;
}

.linkOfButton:hover {
    text-decoration: none;
}

.linkOfButton:active {
    text-decoration: none;
}

.messages {
    color: #090;
}

.errors {
    color: #900;
}

#clear {
    clear: both;
}